# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm project-specific files
.idea/

# Python virtual environments
.venv/
venv/
ENV/
env/

# Environment variables and secrets
.env
